*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: #eeee !important; }

#btn__1 {
  background: #ee1a26; }

#heading-1 {
  color: #ee1a26;
  border-bottom: 2px solid #ee1a26; }

#btn__2 {
  background: #4ca90c; }

#heading-2 {
  color: #4ca90c;
  border-bottom: 2px solid #4ca90c; }

#btn__3 {
  background: #0064e5; }

#heading-3 {
  color: #0064e5;
  border-bottom: 2px solid #0064e5; }

#btn__4 {
  background: #a9adb5; }

#heading-4 {
  color: #a9adb5;
  border-bottom: 2px solid #a9adb5; }

.container_1 {
  display: flex; }

.content {
  flex: 1; }

.section-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto; }

.container_2 {
  margin: 8rem auto;
  display: flex; }

.login {
  width: 35rem;
  background: #fff;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .login__input-box {
    display: flex;
    align-items: center; }
    .login__input-box input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      font-size: 1.6rem;
      font-family: sans-serif;
      outline: none;
      border: none;
      border-bottom: #333 2px solid;
      box-sizing: border-box; }
  .login__icon {
    height: 2.1rem;
    width: 2.1rem;
    fill: #333; }
  .login__btn {
    padding: 1rem 2rem;
    width: 100%;
    color: #fff;
    font-size: 1.6rem;
    transition: all .2s;
    border: none;
    border-radius: 2rem;
    background-color: #333;
    cursor: pointer; }
    .login__btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-1 {
  font-size: 2.2rem;
  text-align: center; }

.u-center-text {
  text-align: center; }

.u-margin-top {
  margin-top: 4rem; }

.sidebar {
  background: #333;
  width: 7rem;
  height: 100vh; }
  .sidebar__nav {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sidebar__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: #fff; }

.dropbtn {
  color: white;
  border: none;
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%; }

.dropdown {
  position: relative;
  display: flex;
  transition: all .2s;
  margin: 1rem auto;
  cursor: pointer; }
  .dropdown:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.dropdown-content {
  display: none;
  position: absolute;
  padding: 0rem 5rem; }

.dropdown-list {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
  margin-left: 1.3rem;
  min-width: 35rem;
  z-index: 1; }
  .dropdown-list h2 {
    font-size: 1.8rem;
    padding: .9rem 0rem;
    text-align: center;
    border-bottom: 2px solid red; }

.dropdown-content a {
  color: black;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #3e8e41; }

.header {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 100%;
  height: 7rem; }

.logout {
  margin-right: 2rem;
  margin-left: auto; }
  .logout__btn {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: none;
    transition: all .2s;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
    .logout__btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .logout__icon {
    margin-top: .8rem;
    margin-left: .7rem;
    width: 2.5rem;
    height: 2.5rem; }
  .logout__link {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background: #fff; }
  .logout a {
    position: absolute;
    margin-top: .8rem;
    margin-left: 1rem; }

page {
  background: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm; }

page[size="A4"] {
  width: 25cm;
  height: 29.7cm; }

.page__header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem; }
  .page__header h2 {
    font-size: 24px; }

.page__generate {
  display: flex;
  padding: 1rem; }
  .page__generate--file {
    background: #337ab7;
    border-radius: 5px;
    color: #fff;
    margin-right: auto;
    padding: .5rem; }
  .page__generate--btn {
    background: #337ab7;
    color: #fff;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none; }

.page__titles {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 660px;
  padding: .5rem 2rem;
  background: #D0ECEC; }

.page__title {
  text-align: center;
  font-size: 2.4rem;
  margin-right: 3.2rem; }

.page__input {
  text-align: center;
  font-size: 1.9rem;
  width: 20rem; }

.page__content {
  width: 780px;
  margin: auto; }
  .page__content--group {
    display: flex;
    align-items: center;
    text-align: center; }
  .page__content--item {
    display: flex;
    align-items: center;
    margin: auto;
    width: 25rem; }
    .page__content--item p {
      font-size: 1.7rem;
      display: block; }
    .page__content--item label {
      margin-left: .5rem;
      font-size: 1.5rem;
      display: block; }
  .page__content--text {
    margin-top: -13rem;
    margin-right: 16rem;
    font-size: 1.5rem;
    width: 30rem;
    height: 140px;
    padding: .8rem;
    border-radius: 10px;
    border: 1px solid #337ab7;
    float: right; }

.page__table {
  margin-top: 4rem;
  font-size: 1.5rem; }
  .page__table table {
    width: 100%; }
    .page__table table td, .page__table table th {
      border: 2px solid #000;
      text-align: left;
      padding: 8px; }

.screen {
  margin: auto; }
  .screen__list {
    width: 120rem; }
  .screen__item {
    display: flex;
    justify-content: space-around;
    padding: 1rem 3rem;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
    .screen__item--user {
      display: flex;
      align-items: center; }
    .screen__item--icon {
      width: 3rem;
      height: 3rem;
      margin-right: .8rem; }
    .screen__item--product {
      display: flex;
      align-items: center; }
    .screen__item--count {
      margin-top: 1rem;
      font-weight: bold; }
  .screen__flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 40%; }

.legend {
  flex: 0 0 1;
  width: 100%;
  align-items: center; }
  .legend__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .legend__item {
    display: block;
    margin-right: .6rem; }
    .legend__item--clock {
      display: flex;
      align-items: center;
      fill: #3fa2f7; }
  .legend__icon {
    width: 2.5rem;
    height: 2.5rem; }
    .legend__icon--circle {
      width: 2.9rem;
      height: 2.9rem;
      fill: #626262; }
    .legend__icon--question {
      width: 2.9rem;
      height: 2.9rem;
      fill: #143B9D; }
    .legend__icon--danger {
      width: 2.95rem;
      height: 2.95rem;
      fill: #ee1a26; }

.check {
  fill: #4ca90c; }

.progressBar div {
  box-sizing: border-box; }

.progressBar {
  border-radius: 5px;
  width: 30rem;
  margin: 10px auto;
  height: 22px;
  background-color: #ddd;
  margin-right: .6rem; }

.progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px;
  /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #3fa2f7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box; }
