.login {
    width: 35rem;
    
    background: #fff;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    &__input-box {
        
        display: flex;
        align-items: center;

        input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            font-size: 1.6rem;
            font-family: sans-serif;
            outline: none;
            border: none;
            border-bottom: $dark-gray 2px solid;
            // padding-left: 2.5rem;
            box-sizing: border-box;
        }
    }

    &__icon {
        height: 2.1rem;
        width: 2.1rem;
        fill: $dark-gray;
    }

    &__btn {
        padding: 1rem 2rem;
        width: 100%;
        color: #fff;
        font-size: 1.6rem;
        transition: all .2s;
        border: none;
        border-radius: 2rem;
        background-color: $dark-gray;
        cursor: pointer;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(#000,.2);
        }
    }
}

.heading-1 {
    font-size: 2.2rem;
    text-align: center;
}

.u-center-text {
    text-align: center; 
}

.u-margin-top {
    margin-top: 4rem; 
}

.sidebar {
    // position: fixed;
    background: $dark-gray;
    width: 8rem;
    height: 100vh;

    &__nav {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: #fff;    
    }
       
}

  
.dropbtn {
    color: white;
    border: none;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;    
}


  
.dropdown {
    position: relative;
    display: flex;
    transition: all .2s;
    margin: 1rem auto;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000,.2);
    }
}
  
.dropdown-content {
    display: none;
    position: absolute;
    padding: 0rem 5rem;
}

.dropdown-list {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
   
    // padding: 1rem 0rem;
    background-color: #fff;
    margin-left: 1.9rem;
    min-width: 35rem;
    z-index: 1;
   
    h2 {
        font-size: 1.8rem;
        padding: .9rem 0rem;
        text-align: center;
        
        border-bottom: 2px solid red;
    }
}
  
.dropdown-content a {
    color: black;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

// Header

.header {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100%;
    height: 7rem;
    
}

.logout {
    margin-right: 2rem;
    margin-left: auto;
    

    &__btn {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        border: none;
        transition: all .2s;
        box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
        

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(#000,.2);
        }
    }

    &__icon {
        margin-top: .8rem;
        margin-left: .7rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    &__link {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        background: #fff;
    }

    a {
        position: absolute;
        margin-top: .8rem;
        margin-left: 1rem;
    }
}
