.container_1 {
    display: flex;
}

.content {
    flex: 1;
}

.section-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.container_2 {
    margin: 8rem auto;
    display: flex;
}